/**  Defaul css styles for header and footer for entire website */

/** header css style rules */ 
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#logo-sec{
    min-height: 60px;
    width: 100%;
    margin-top : 5px;
    background-color: #0066ff;
    margin-top : -4px;
}

.logo{
    font-size: 20px;
    font-family: 'Tangerine', serif;
    color: #ffffff;
}

.container{
 margin: 5px auto;
 width : 80%;
 overflow: hidden;
}

.h1-size{
    padding: 0;
    margin: 0;
}

header .logo{
    float: left;
}

header .nav-links{
    float : right;
}

header .nav-links ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header .nav-links li{
    float: left;
}

header .nav-links li a{
    display: block;
    font-family: 'ABeeZee' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

header .nav-links li a:hover {
    display: block;
    font-family: 'ABeeZee' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60px;
    color: #0066ff;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}


@media(max-width : 768px){
    header .logo, header .nav-links{
        float: none;
        text-align: center;
        width: 100%;
    }
}

/** footer styles */

footer{
    background-color :#0066ff;
    color: #fff;
    min-height: 50px;
}

footer p{
    text-align: center;
    padding : 9px;
    font-family: 'ABeeZee' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-contents{
    margin : 100px auto;
    max-width : 800px;
    max-height : 900px;
    background-color: #F1F1F1;
    border-radius : 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.form-contents h1{
    text-align: center;
    font-family: 'ABeeZee' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0066ff;
    padding : 18px;
}

.form-css{
    padding: 15px;
}

input[type=text], input[type=number], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
}

input[type=submit]{
    padding : 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0066ff;
    min-height: 20px;
    color : white;
    border-radius: 8px;
    font-size: 20px;
    right: 5px;;
}

.member{
    margin-top: -48px;
    margin-right: 10px;
    float: right;
}

.member #member-que{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0066ff;
    margin : 10px;;
}

.member a{
    text-decoration: none;
    color: #0066ff;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}